*{
    margin:0px;
    padding:0px;
    overflow: hidden;
    background-color: black;
    
}



#game{
    width: 400px;
    height: 500px;
    border: 3px solid black;
    margin: auto;
    overflow: hidden;
    background-image:url(https://i.gifer.com/MDg8.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}


#block{
    width: 50px;
    height: 500px;
    background-image:url(https://res.cloudinary.com/rebelwalls/image/upload/b_black,c_fill,f_auto,fl_progressive,h_533,q_auto,w_800/v1479371023/article/R10961_image1);
    position: relative;
    left: 400px;
    animation:block 4s infinite;
}
@keyframes block{
    from{left:400px}
    to{left:-150px}
}

#hole{
    width: 50px;
    height: 150px;
    background-image: url(https://i.gifer.com/MDg8.gif);
    background-size: 30em;
    position: relative;
    left: 400px;
    top:-400px;
    animation: block 4s infinite;
}


#character{
    width: 20px;
    height: 20px;
    position: absolute;
    top:100px;
    background-image:url("https://i.pinimg.com/originals/22/d2/db/22d2dbe64acdd55a38980e5267a39a1b.gif");
    background-size: cover;
    background-color: transparent;
}

img{width: 600px;}